@using RedSocial.mvc.ViewModels.Account
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FirstForgotPasswordViewModel
<div class=" mt-5 w-100 d-flex justify-content-center">
    <form class="row g-3 border-danger" asp-controller="Account" asp-action="ChangePassword" method="post" style="width:26rem">
        <div class="col-12 text-center">
            <h2>Cambia tu contraseña</h2>
        </div>
        <div class="col-12">
            <span class="text-danger d-block" asp-validation-for="Email"></span>
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" placeholder="example@mail.com" />
        </div>
        @*@<div class="col-12">
            <span class="text-danger d-block" asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password" placeholder="*********" />
        </div>
        <div class="col-12">
            <span class="text-danger d-block" asp-validation-for="NewPassword"></span>
            <label asp-for="NewPassword"></label>
            <input type="password" class="form-control" asp-for="NewPassword" placeholder="*********" />
            <span class="form-text">La contraseña debe tener [8,15] caracteres (1 especial, 1 mayuscula y 1 minuscula)</span>
        </div>*@
        @if (TempData.Count > 0)
        {
            <div class="col-12">
                @if (TempData["Error"] is not null)
                {
                    <span class="alert alert-danger d-block">@TempData["Error"]</span>
                }
                else
                {
                    <span class="alert alert-success d-block">@TempData["Success"]</span>
                }
            </div>
        }
        <div class="col-12">
            <button class="btn btn-success col-12 px-1" type="submit">Cambiar contraseña</button>
        </div>
    </form>
</div>